@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-1: hsl(94, 52%, 90%);
  --bg-2: hsl(94, 52%, 75%);
  --bg-3: hsl(95, 53%, 60%);
  --bg-4: hsl(95, 53%, 45%);
  --bg-5: #467524;
  --bg-6: hsl(95, 53%, 15%);
}

html {
  font-family: "Roboto Mono", monospace;
  color: var(--bg-6);
  scrollbar-width: thin;
}

header {
  padding: .5rem 3rem;
  background: var(--bg-4);
  color: aliceblue;
  position: sticky;
  top: 0px;
  box-shadow: 0px 1px 10px 0px var(--bg-6);
  z-index: 2;
  word-spacing: -.5rem;
}

main {
  background: var(--bg-1);
}

.copied {
  display: block;
  transform: translateX(calc(50vw - 50%)) translateY(-100%);
  width: fit-content;
  padding: 1rem;
  position: fixed;
  background: var(--bg-5);
  color: white;
  font-weight: bold;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
  transition: transform .2s ease-out;
}

.slide{
  transform: translateX(calc(50vw - 50%)) translateY(0%);
}

.wrapper {
  width: 90%;
  max-width: 80rem;
  margin: auto;
  background: var(--bg-2);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px 0px var(--bg-5);
}

.card {
  border: 2px solid var(--bg-5);
  background: var(--bg-3);
  margin: 1rem auto;
  width: 100%;
  padding: .5rem 1rem 2rem 1rem;
   border-radius: 4px;
  box-shadow: 2px 2px 8px 0px var(--bg-6);
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 1rem;
  row-gap: 2rem;
} 

.card-title {
  color: aliceblue;
  font-weight: bold;
  font-size: 1.2rem;
  text-shadow: 1px 1px 5px var(--bg-6);
  padding-bottom: 0.5rem;
  border-bottom: solid 1px var(--bg-5);
  grid-column: span 2;
}

.card-visual,
.card-code {
  display: flex;
  align-items: center;
  position: relative;
  background: var(--bg-1);
  border-radius: 4px;
  border: 1px solid var(--bg-6);
}

.card-visual {
  line-break: auto;
  padding: 1rem 2rem;
}

.card-visual ol {
  margin-left: 1rem;
}

.card-code {
  padding: 1rem;
  overflow-x: scroll;
  white-space: nowrap;
  cursor: pointer;
  scrollbar-width: thin;
}

.card-code:hover,
.card-code:active {
  box-shadow: 0px 0px 5px 1px var(--bg-6);
}

footer {
  background: var(--bg-6);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

footer ul {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 600px) {
  header h1 {
    font-size: 1.6rem;
  }

  .wrapper {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .card {
    grid-template-columns: 1fr;
  }
  
  .card-title {
    grid-column: span 1;
  }

  .card-visual {
    margin-bottom: -1.5rem;

  }
}
