@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-1: hsl(94, 52%, 90%);
  --bg-2: hsl(94, 52%, 75%);
  --bg-3: hsl(95, 53%, 60%);
  --bg-4: hsl(95, 53%, 45%);
  --bg-5: hsl(95, 53%, 30%);
  --bg-6: hsl(95, 53%, 15%);
}

html {
  font-family: "Roboto Mono", monospace;
  color: var(--bg-6);
}

header {
  padding: 1rem 3rem;
  background: var(--bg-4);
  color: aliceblue;
  position: sticky;
  top: 0;
  box-shadow: 0px 1px 10px 0px var(--bg-6);
}

main {
  background: var(--bg-1);
}

.wrapper {
  width: 90%;
  max-width: 80rem;
  margin: auto;
  background: var(--bg-2);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 20px 0px var(--bg-5);
}

.card {
  border: 2px solid var(--bg-5);
  background: var(--bg-3);
  margin: 1rem auto;
  width: 100%;
  padding: .5rem 1rem 2rem 1rem;
   border-radius: 4px;
  box-shadow: 2px 2px 8px 0px var(--bg-6);
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 1rem;
  row-gap: 2rem;
} 

.card-title {
  color: aliceblue;
  font-weight: bold;
  font-size: 1.2rem;
  text-shadow: 1px 1px 5px var(--bg-6);
  padding-bottom: 0.5rem;
  border-bottom: solid 1px var(--bg-5);
  grid-column: span 2;
}

.card-visual,
.card-code {
  padding: 1rem 2rem;
  background: var(--bg-1);
  border-radius: 4px;
  border: 1px solid var(--bg-6);
  line-break: anywhere;
}

.card-visual {
  line-break: auto;
}

footer {
  background: var(--bg-6);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

footer ul {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 600px) {
  .wrapper {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .card {
    grid-template-columns: 1fr;
  }
  
  .card-title {
    grid-column: span 1;
  }

  .card-visual {
    margin-bottom: -1.5rem;

  }
}
